{{ partial "head.html" . }}
{{ partial "schema-services.html" . }}
{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <main class="container about-container">
		    <h1 class="about-title">Here's what I'm chewin'.</h1>



	<article class="column two-thirds standard-text-size">

	<p>My name is Julius Reade. </p>
		
		<p>
		I am a failed more-than-five-times YouTube star, twice-successful podcaster, should-have-become journalist, developer of websites and inconsequential liar.</p>

	<p>I have been creating digital products since I was 14 yeras old, which means I've achieved absolutely nothing substantial with my life.</p>

	<p>Here's a basic overview of the 5% of things that went well:</p> 

		<div class="services-aln-container intro">

			<p class="services-aln">
				<img class="podcast" src="/icons/podcast.png" alt="Podcast icon">THE ZERO HEDGE DAILY ROUND UP<br>
				55,000 DOWNLOADS. <br>
				138 EPISODES.<br>
			</p>
			<p class="services-aln">
				<img class="podcast" src="/icons/podcast.png" alt="Podcast icon">DRUDGE REPORT REPORT<br>
				29,000 DOWNLOADS. <br>
				28 EPISODES.
			</p>
			<p class="services-aln">
				<img class="podcast" src="/icons/yt2.png" alt="YouTube icon">THE FINANCIAL REALITY<br>
				200,000 VIDEO VIEWS.<br>
				2,400 SUBSCRIBERS.<br>
				2600 LIKES. 2400 COMMENTS. <br>
			</p>
			<p class="services-aln">
				<img class="podcast" src="/icons/tumblr.png" alt="Tumblr icon">TUMBLR WRITING<br>
				214,000 WORDS PUBLISHED. <br>
				83,000 WORDS DRAFTED.
			</p>
			<p class="services-aln services-aln-bottom">
				<img class="podcast" src="/icons/pt.png" alt="Tumblr icon">PERSPECTIVE THEORY<br>
				98,000 WORDS PUBLISHED. <br>
				35,000 WORDS DRAFTED.
			</p>

		</div>

	<p>I'm your mini-creative agency, albeit dysfunctional and possibly racist.</p>

	<p>Despite my efforts with video and audio, I'm pre-dominately a writer though of course EVERYONE is a writer so it's meaningless. </p>

<p>Instead I try and seperate myself with my design and development skills, because web development and programming are something I'm incredibly passionate about.</p>

	<p>Honestly, I could talk computer science for hours. Low-level languages, algorithims, data structures, embedded systems, electronics, functional paradigms. My face is melting.</p>

<p>Of course, I am not available for hire. I currently work for a creative agency Smith Brothers Media and it's bloody brilliant. </p>

<p>I merely created this page because the menu looked a bit empty, so gotta spruce that shit up.</p>

	<p>Contact ~ <a href="julius.reade@gmail.com">Julius.Reade@gmail.com</a></p>

	</article>

	<article class="column one-third">
	</article>

  </main>

</body>

{{ partial "footer.html" . }}
