{{ partial "head.html" . }}
{{ partial "schema-services.html" . }}
{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <main class="container about-container">
		    <h1 class="about-title">la-di-la-di-la.</h1>

	<article class="column two-thirds services-content">
		<h2>For starters, I do not offer any services.</h2>

		<p>So please, DO NOT contact me for any work. </p>

		<p>It would break the agreement I have with my employer and I absolutely love and respect the team I work with.</p>

	<p>
		However, I thought it constructive to create a number of landing pages to promote my brand from an SEO point of view. Google rankings, yummy, yummy. 
	</p> 

<p>Chances are I'm also going to create a heap of other targeted landing pages related to this website. </p>


	<p>Here is what I am trained to do, and do well:</p>

<ul class="services-list">
	<li>
		Web Development.
	</li>
	<li>
		Web Design.
	</li>
	<li>
		Content writing.
	</li>
	<li>
		Search Engine Marketing / Search Engine Optimisation. 
	</li>
</ul>


	</article>

			<article class="column one-third">
	</article>

  </main>

</body>

{{ partial "footer.html" . }}
