{{ partial "head.html" . }}
{{ partial "schema-services.html" . }}
{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <main class="container about-container">
		    <h1 class="about-title">Here's what I'm chewin'.</h1>



	<article class="column two-thirds standard-text-size">

	<p>My name is Julius Reade. </p>
		
		<p>
		I am a failed more-than-five-times YouTube comedian, semi-successful podcaster, should-have-become journalist, developer of websites, and inconsequential liar.</p>

	<p>I have specialised in creating digital products since I was 14 years old, which means my children will likely starve to death.</p>

	<p>Here's a basic overview (<a href="https://juliusreade.me/">full overview</a>) of the 5% of projects that didn't completely destroy my reputation as a human being:</p> 

		<div class="services-aln-container intro">

			<p class="services-aln">
				<img class="podcast" src="/icons/podcast.png" alt="Podcast icon">THE ZERO HEDGE DAILY ROUND UP<br>
				55,000 DOWNLOADS. <br>
				138 EPISODES.<br>
			</p>
			<p class="services-aln">
				<img class="podcast" src="/icons/podcast.png" alt="Podcast icon">DRUDGE REPORT REPORT<br>
				29,000 DOWNLOADS. <br>
				28 EPISODES.
			</p>
			<p class="services-aln">
				<img class="podcast" src="/icons/yt2.png" alt="YouTube icon">THE FINANCIAL REALITY<br>
				200,000 VIDEO VIEWS.<br>
				2,400 SUBSCRIBERS.<br>
				2600 LIKES. 2400 COMMENTS. <br>
			</p>
			<p class="services-aln">
				<img class="podcast" src="/icons/tumblr.png" alt="Tumblr icon">TUMBLR WRITING<br>
				214,000 WORDS PUBLISHED. <br>
				83,000 WORDS DRAFTED.
			</p>
			<p class="services-aln services-aln-bottom">
				<img class="podcast" src="/icons/pt.png" alt="Tumblr icon">PERSPECTIVE THEORY<br>
				98,000 WORDS PUBLISHED. <br>
				35,000 WORDS DRAFTED.
			</p>

		</div>

	<p>I'm your mini-creative agency, albeit dysfunctional and possibly racist.</p>

	<p>I'm pre-dominately a writer, though of course EVERYONE is a writer so please don't take my word for it. </p>

<p>Instead, I try to seperate myself with my design and development skills, because web development and programming are two things I'm incredibly passionate about.</p>

	<p>Honestly, I could talk computer science for hours. Low-level languages, algorithims, data structures, embedded systems, electronics, functional paradigms - shoot me, you prick. </p>
		
		<p>
			Oh wow. 
			
			</p>

			<p>
			You know, I think all this computer science talk could be making my face melt, or that COULD just be my excitement for computer science taking on a whole new physical dimension, resulting in third-degree burns and a new appreciation for intensive skin-care.</p>

<p>Of course, I am not available for hire. I currently work for creative agency Smith Brothers Media and it's a pretty cool place. </p>

<p>Though largely I created this page because my menu was looking a bit empty, and so welcome to my wasted diaspora.</p>

<p>Contact ~ <a href="#">Julius.Reade (at) gmail.com</a></p>

	</article>

	<article class="column one-third">
	</article>

  </main>

</body>

{{ partial "footer-article.html" . }}
