/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	border-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	cursor: pointer;
}

/*
Reset stylesheet included. 
*/


* {
  font-family: 'Helvetica', 'sans-serif';
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  min-height: 150px;
  border-bottom: 1px solid black;
}

/*
  HEADER TITLE
*/

.header__title__container {
  height: auto;
  margin-bottom: 1.2rem;

}

.header__title {

  padding: 1rem;
  font-size: 2rem;
  border-left: 4px green;
  /* width: 20rem; */
}

.header__title__two {
  padding-left: 1rem;
  font-size: 1.2rem;
  /* width: 20rem; */
  line-height: 1.8rem;

}

/*
  HEADER NAV
*/

.header__nav {
  border-bottom: 1px solid black;
  box-shadow: 4px 2px lightgrey;
  padding: 1rem; 
  list-style-type: none;
  margin-bottom: 2rem;
  
  display: flex;
  justify-content: space-around;
}

.header__nav__link {
  color: green;
}


/*
  MAIN ARTICLE
*/

.main__article__list {
  display: flex;
  flex-wrap: wrap;
  direction: space-around;
  list-style-type: none; 
}

.main__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 350px;
  height: 350px;
  transition: background 0.5s; 
  box-shadow: 4px 4px lightgreen;
  
  margin-bottom: 1rem;
}

.main__article:hover {
  background: grey;
}

.main__article:hover > 
.header__title__container > 
.header__title {
  color: white;
}



/*
    MAIN ARTICLE IMAGE 
*/

.main__article__image__container {
  position: relative;
  width: 100%;
}

.main__article__image {
  padding: 20px;
  height: 200px;
  width: 90%;
  background-clip: 100%;
}

.main__article__image__category {
  position: absolute;
  right: 10%;
  bottom: 10%;
}


.main__article__title {
    text-align: center;
    line-height: 2.2rem;
    font-size: 1.6rem;
}

@media screen and (min-width: 600px) {
  .header__title {
    
  }
  
  .header__title__two {
    
  }
  
}


@media screen and (min-width: 300px) {
  .main__article__list {
    justify-content: center;
    align-items: center;
  } 
}
