{{ partial "head.html" . }}
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/custom.css">  

{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <article class="container about-container">
		    <h1 class="about-title">Let's talk about what I want to achieve.</h1>
	<p>This is the page is where I'm supposed to deliver my somewhat lame and unrealistic "spiel" of how motivated and amaaaaazing I am. 
	</p> 
		
   
	<p>	
	I've already written an incredibly comprehensive piece on my various media projects <a href="http://juliusreade.me/">here</a>, however it reads more like a glorified biography than anything. Anyway, I guess this is a list of the things I'm currently working on:</p>


	<h1>Web Development/Design</h1>
		<img class="img-aspirations" src="/img/main/web-dev2.png" alt="">

	<p>One of my primary goals is to become a professional web developer and designer. I currently work as an SEO/SEM professional at a creative agency, so I guess I'm already halfway there. I first started programming mid-2015 and I have studied it obsessively since then. I could honestly talk computer science for days on end. I also study mathematics and physics to assist with my understanding of code.</p>


	<h1>Writing/Blogging</h1>
		<img class="img-aspirations" src="/img/main/writing.png" alt="">

	<p>
	While I love coding, writing is my predominant talent (I studied a Bachelor of Journalism). While this website aims to be a tad bit more formal than my previous endeavours, I do a lot of creative writing over on my <a href="https://medium.com/@JuliusReade/">Medium account</a>.
	</p>


	<h1>Productivity/Self-help</h1>
		<img class="img-aspirations" src="/img/main/self-help.png" alt="">

	<p>
		I'm constantly in the business of self-improvement. I spend most my time learning. I eat paleo. I intermittent fast. I weightlift on leangains three times a week. I hold a strict schedule. I type using a colemak layout and I love using vim. I've more-or-less tried it all, including a two-month period of cold showers and biphasic sleep schedules.
	</p>


	<h1>Entrepreneur</h1>
		<img class="img-aspirations" src="/img/main/entrepreneur.png" alt="">

	<p>
		I'm a many-times-failed entrepeneur. Well, some of them have been successes, though it's complicated. Previously I did a lot of podcasting, YouTubing, blogging and everyting else in-between. I guess you could describe me as a content creator.
	</p>



  </article>

</body>

{{ partial "footer.html" . }}
