{{ partial "head.html" . }}
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/custom.css">  

{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <article class="container about-container">
		    <h1 class="about-title">Let's talk about what I want to achieve.</h1>
	<p>This is the page is where I'm supposed to deliver my somewhat lame and unrealistic "spiel" of how motivated and amaaaaazing I am. 
	</p> 
		


  </article>

</body>

{{ partial "footer.html" . }}
