{{ partial "head.html" . }}
  <link rel="stylesheet" href="cssReal/skeleton.css">

{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <div class="container">
    <main class="two-thirds column about-container">
        <h2 class="error">404.</h2>
        <p style="font-size: 2rem;">Unfortunately, you have gone insane. To become less insane, please return to the <a href="/">homepage</a>.</p>
    </main>
    {{ partial "aside.html" . }}
  </div>

</body>

{{ partial "footer.html" . }}
