{{ partial "head.html" . }}
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">  

{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <div class="container">
    <main class="two-thirds column about-container">
        <h2 class="error">404.</h2>
        <p>Unfortunately the page you are looking for doesn't exist. Though perhaps you have gone insane. Yes, that is definitely the reason.</p>
    </main>
    {{ partial "aside.html" . }}
  </div>

</body>

{{ partial "footer.html" . }}
