{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <article class="container about-container">
    <h1 class="about-title">Let's talk about <span class="why">why</span> you're here.</h1>
	
<span class="one-third column about-nav">   
{{ partial "mailchimp.html" .}}

	<ul class="about-side-nav">
	<li>
		<a  href="/writing">Writing</a>
	</li>
	<li>
		<a  href="/services">Hire 私に</a>
	</li>
	<li>
		<a  href="/about">About</a>
	</li>

	</ul>   

</span>



<div class="columns seven standard-text-size">

	<p>For better or worse, society favours those who are successful.</p>

	<p>You can fight it, rationalise it, ignore it or even pretend it doesn't mean anything: Eventually your survival will depend on it.</p>

	<p>Maybe you're looking to overcome your mental health issues or even discover your sense of passion in life. </p>
		
	<p>Following a proven path can help make these things a reality.</p>
<p>
	Hello. 
</p>
<p>
	Let me tell you a little bit about myself. 
</p>

<p>
	My name is Julius Reade and I created this website to demonstrate that success can be attained by anyone. 
</p>

<p>It just requires a different way of thinking and this is what this website covers: The horrible, gritty process of change. </p>

<p>Understandably, some of us got the shit end of the stick. We developed emotional problems. We hung out with the wrong crowd, maybe even developed a few too many addictions and got attached to those who amplified the worst in us.  </p>
	
<p>That's life and that's okay.</p>

<p>The good news is that we can adapt and change. With a bit of effort, anyone can become a highly motivated and ambitious individual with an incredible desire to work and achieve their goals. </p>

<p>The thing I feel most successful about? </p>
	
	<p>While I could list all the achievements and positive lifestyle choices I've made, these things are merely consequential. </p>
		<p>
		Ultimately, I believe having control over my emotions and mental health issues makes me a success, and is a foundation that has allowed me to do absolutely anything I want with my life. </p>

<p>To give you a sense who I am, I wake up at 6am each weekday to study. This provides me with two hours to study in the morning before work, as well as two hours after work, primarily on public transport with my laptop. 
	</p>
<p>
I also weightlift three times a week, eat paleo and have an amazingly supportive partner. Whether you care about these things or not, I just want to show that it can be done.</p>

<p>Is it for everyone? Of course not, and that's okay. Personally speaking, it is much better than the addiction, mental illness and shitty relationships that used to dominate my life.</p>

<p>Personally speaking, I absolutely love it and has proven to allow me to become incredibly powerful and effective.</p>

<p>
	This website aims to help, by providing intuitive advice on what works and what doesn't based on my own experiences with life, so you can get it right the first time. 
</p>

<p>Because the reality is, success is not a natural. Avoiding burnout after weeks of studying more than four hours each day is not natural. 
</p>
<p>
	Certainly, overcoming years of mental health issues does not come naturally and requires some form of external help.</p>

<p>
As we'll discover, success is nothing more than a simple method that anyone can learn.</p>

<p>It just requires a different way of thinking, so let's step into my world and discover what makes my brain tick.</p>

<p>Contact ~ <a href="julius.reade@gmail.com">Julius.Reade@gmail.com</a></p>



</div>
</article>

</body>

{{ partial "footer.html" . }}
