{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <article class="container about-container">
    <h1 class="about-title">Let's talk about <span class="why">why</span> you're here.</h1>
	
<span class="one-third column about-nav">   
{{ partial "mailchimp.html" .}}

	<ul>
	<li>
		<a  href="/writing">Writing</a>
	</li>
	<li>
		<a  href="/services">Services</a>
	</li>
	<li>
		<a  href="/about">About</a>
	</li>

	</ul>   

</span>



<div class="columns seven">

	<p>For better or worse, society favours those who are successful.</p>

	<p>You can try to fight it, rationalise it, ignore it or even pretend it doesn't mean anything: Eventually you will have to become comfortable with it to survive.</p>

	<p>Maybe you're looking to overcome your mental illness, become a better person or even discover your passions in life. </p>
		
	<p>Without striving for success, these things practically become impossible.</p>
<p>
	Hello. 
</p>
<p>
	Let me tell you a little bit about myself. 
</p>

<p>
	My name is Julius Reade and I created this website to demonstrate that anyone can become successful in life.  
</p>

<p>Understandably, some of us got the shit end of the stick. We developed emotional problems. We hung out with the wrong crowd, maybe even developed a few too many addictions and got attached to those who amplified the worst in us.  </p>
	
<p>That's life and that's okay.</p>

<p>With a bit of effort, you can become a highly motivated and ambitious individual with an incredible desire to work and achieve your goals. </p>

<p>My definition of success? </p>
	
	<p>While I could list all the achievements and lifestyle choices I've made, that would be superficial. </p>
		<p>
		Ultimately what makes me a success in my eyes is the fact that I have control over myself and my emotional triggers, including my depression and mental health issues. It is a foundation that has allowed me to do absolutely anything I want with my life. </p>

<p>To give you a sense who I am, I wake up at 6am each weekday to study. This provides me with two hours to study in the morning before work, as well as two hours after work, primarily on public transport with my laptop. I also weightlift three times a week, eat paleo and have an amazingly supportive partner. </p>

<p>Is it for everyone? Of course not, and that's okay. Personally speaking, it is much better than the addiction, mental illness and shitty relationships that used to dominate my life.</p>

<p>Certainly, what I can say is that if you are receptive to success, there are a lot of things you can do to become incredibly powerful and effective.</p>

<p>
	This website aims to help, by providing intuitive advice on what works and what doesn't based on my own experiences with life, so you can get it right the first time. 
</p>

<p>Because the reality is, success is not a natural. Avoiding burnout after weeks of studying more than four hours each day is not natural. Overcoming years of mental health issues does not come naturally.</p>

<p>Not that it matters.</p>

<p>Because success is nothing more than a simple method and that is what we are going to learn.</p>

<p>Contact ~ <a href="julius.reade@gmail.com">Julius.Reade@gmail.com</a></p>



</div>
</article>

</body>

{{ partial "footer.html" . }}
