{{ partial "head-landing.html" . }}
{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <article class="container about-container">
    <h1 class="about-title">Let's talk about <span class="why">why</span> you're here.</h1>

<div class="container column standard-text-size about-top">

<h2>Core themes of this website:</h2>

<ul>
<li>Achieve A LOT in as little time as possible.</li>
<li>Overcome the limitations and pitfalls of depression and mental illness.</li>
<li>Remain mentally secure in the pursuit of success.</li>
<li>Develop a long-term strategy for your goals and ambitions.</li>
<li>Develop an optimal system of effort and time-management.</li>
</ul>

</div>



<span class="one-third column about-nav">   
{{ partial "mailchimp.html" .}}

	<ul class="about-side-nav">
	<li>
		<a  href="/writing">Writing</a>
	</li>
	<li>
		<a  href="/services">Hire 私に</a>
	</li>
	<li>
		<a  href="/about">About</a>
	</li>

	</ul>   

</span>


<div class="columns seven standard-text-size">
<p>For better or worse, society favours those who are successful.</p>

<p>You can fight it, rationalise it or even pretend it isn't a thing: 
	Ultimately your survival will depend on it.</p>

<p>The problem is that attaining success in any field is a deeply cruel, difficult, irrational and unnatural process. 
</p>

<p>
	A process which often leads to addiction, depression, delusion and irrational obsession - rather than the apparent "success" we originally planned for.
</p>

<p>
	In other words, we're basically fucked. 
	
	</p>
	
	<p>
		Can't live with it. Can't live without it. That's what this website is about.
</p>

<p>
	Hello. 
</p>
<p>
	Let me tell you a little bit about myself.
</p>

<p>
	My name is Julius Reade and I created this website to help people better understand and overcome the pitfalls of success.
</p>

<p>Maybe you're looking to overcome your mental health issues, become a high-paying professional or even discover your sense of passion in life.
	</p>

<p>This website can help you. </p>
		
<p>Understandably, some of us got the shit end of the stick. </p>
	
	<p>We developed emotional problems, hung out with the wrong crowd, maybe even developed a few too many addictions and got attached to those who amplified the worst in us.  </p>
	
<p>That's life and that's okay.</p>

<p>Good news is that humans can change. </p>

<p>Yes, it's a cluster-fuck of a process, however with the right guidance leanings and guidance anyone can become motivated and ambitious enough to achieve great things. It's just a matter of practice and technique. </p>
	
<p>Of course most won't. Again, that's life and it's completely out of my control. </p>

	<p>While I could list all the achievements and positive lifestyle changes I've made thus far, these things are merely consequential to the thing I consider most important. </p>
		<p>
		Ultimately, I am successful because I have control over my emotions and mental health issues. And it is a foundation that allows me to do absolutely anything I want with my life. </p>

		<p>Of course, everyone has their own challenges. These are simply my own.</p>

<p>To give you a sense who I am, I wake up at 6am each weekday to study. I study for two hours in the morning before work, as well as two hours after work, in addition to weightlifting three times a week.
</p>

<p>
	I use this time to study programming and I'm going to stop at absolutely nothing to ensure that I become a professional programmer. 
</p>

<p>
	This website aims to help by providing intuitive advice on what works and what doesn't based on my own experiences in life.
</p>

<p>
	Though perhaps this writing merely aims to help me and my career. Only time will tell. 
</p>

<p>Because the reality is, success is not natural. </p>

<p>Avoiding burnout from working full-time and studying more than four hours each day does not just "happen". Certainly, overcoming years of mental health issues doesn't happen overnight either.
</p>

<p>Now I'm not perfect. I still get depressed. I still relapse. I still get judgemental and I break things, including the people around me. </p>

<p>
Just because I'm human in this robotic pursuit towards intellectual automation, doesn't mean that I cannot be effective the other 95% of the time.</p>

<p>It just requires a different way of thinking, so let's do it.</p>

<p>Or don't. That doesn't change who I am.</p>

<p>Contact ~ <a href="#">Julius.Reade (at) gmail.com</a></p>


</div>





</article>

</body>
