<aside class="one-third column">

    <img class="main-image" src="/img/main/3.png" alt="Profile Image">

  <div class="aside-pp">
    
    <p class="aside-p">
      My name is <b>Julius Reade</b> and I am an aspiring developer and designer. I am based in Melbourne, Australia.
    </p> 
    <p>
      This blog aims to focus on the aspects of productivity and improvement that cripple us in our pursuit: the vulnerability, mental illness, insecurity and failure that entail success.  
    </p>
  </div>
</aside>