<main class="two-thirds article-full">

    {{ range where .Data.Pages "Section" "blog" }}
        <article class="main-article">
            <img class="thumbnail" src="{{ .Params.thumbnail }}" alt="Hello there">
        <h2 class="main-article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        
        <span>
            <time class="main-time" datetime="{{ .Date.Format "2016-01-02" }}"> 
            {{ .Date.Format "2 January 2006" }} 
            </time>
        </span>

        <!-- {{ .WordCount }} -->
        </article>
    {{ end }}


    
</main> 
