<!-- PERSON SCHEMA 
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Julius Reade",
  "url": "https://juliusreade.com",
  "image": "/yo.jpg",
  "sameAs": [
    "https://www.facebook.com/julius.reade",
    "https://www.twitter.com/dottjt",
    "https://www.linkedin.com/in/juliusreade",
    "https://plus.google.com/109773752577310065954"
  ]
}
</script>
-->

<!-- WEBSITE SCHEMA -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Julius Reade",
  "author": "Julius Reade",
  "url": "https://juliusreade.com",
  "about": "A blog with a focus on the aspects of productivity and improvement that cripple us in our pursuit: the vulnerability, mental illness, insecurity and failure that entail success.",
  "potentialAction": {
    "@type": "SearchAction",	
    "target": "https://juliusreade.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<!-- ORGANISATION SCHEMA -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "legalName": "Julius Reade",
  "url": "https://juliusreade.com",
  "logo": "https://juliusreade.com/images/logo.png",
    "sameAs" : [ "https://www.facebook.com/Julius.Reade",
    "https://www.twitter.com/dottjt",
    "https://plus.google.com/109773752577310065954",
    "https://www.linkedin.com/in/juliusreade"]
}
}
</script>

<!-- Homepage breadcrumbs -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://juliusreade.com/services",
      "name": "Services",
      "image": "https://juliusreade.com/images/icon-book.png"
    }
  },{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://juliusreade.com/about",
      "name": "About",
      "image": "https://juliusreade.com/images/icon-author.png"
    }
  },{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://juliusreade.com/writing",
      "name": "Writing",
      "image": "https://juliusreade.com/images/icon-author.png"
    }
  }]
}
</script>