<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://juliusreade.com/services",
      "name": "Services",
      "image": "https://juliusreade.com/images/icon-book.png"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://juliusreade.com/services/web-development",
      "name": "Web Development",
      "image": "https://juliusreade.com/images/icon-author.png"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://juliusreade.com/services/web-design",
      "name": "Web Design",
      "image": "https://juliusreade.com/images/icon-author.png"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "https://juliusreade.com/services/seo",
      "name": "SEO",
      "image": "https://juliusreade.com/images/icon-author.png"
    }
  }]
}
</script>