<a class="homepage-back" href="/">
  <!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 32 32" height="32px" id="Слой_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M11.262,16.714l9.002,8.999  c0.395,0.394,1.035,0.394,1.431,0c0.395-0.394,0.395-1.034,0-1.428L13.407,16l8.287-8.285c0.395-0.394,0.395-1.034,0-1.429  c-0.395-0.394-1.036-0.394-1.431,0l-9.002,8.999C10.872,15.675,10.872,16.325,11.262,16.714z" fill="#121313" fill-rule="evenodd" id="Chevron_Right"/><g/><g/><g/><g/><g/><g/></svg>
  </a>
<body style="width: auto;">

	<main class="container">

    <!-- writing segment -->
    <div id="writing" class="writing-flex">
  
     {{ range .Site.Taxonomies.categories.blog }}

      <div class="writing-list standard-text-size">
        <a class="writing-link" href="{{ .Page.RelPermalink }}"><img class="writing-thumbnail" src="{{ .Page.Params.thumbnail }}" alt="Hello there"></br>

        {{ .Page.Title }}</a>

      </div>
      {{ end }}
    </div>
    

            <!-- adelaidesucks segment -->
        <div id="adelaidesucks">

            <div class="blog-intro-container">
                  <h2 class="blog-intro">
                    My very first online blog. 
                  </h2>

                  <h2 class="blog-intro">
                    Honestly, some of the worst writing you will ever read. 
                  </h2>

            </div>


          <div class="adelaidesucks-writing-link-box">
          {{ range .Site.Taxonomies.categories.adelaidesucks }}

            <a class="writing-link-text" href="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{ .Page.Date.Format "2006-01-02" }})</a>
          {{ end }}

          </div>
        </div> <!-- end of adelaidesucks container -->

        </div>

</main>

  
<!--

      Javascript script begins here!

                                     -->


<script>

    // okay, the current situation is that adelaidesucks is set to visibility hidden and display none by default. I don't know how to change that. 

    // element variables 
    var writing = document.getElementById("writing");
    var adelaidesucks = document.getElementById("adelaidesucks");
    var writingMenu = document.getElementById("writing-menu");
     

    if (location.hash === "#adelaidesucks") {
       showDiv('adelaidesucks');
    } else {
      showDiv('writing');
    }


    // initial



    addEventListener('hashchange', hashChange, false);

    // on hash change, change menu + and change page 
    function hashChange() {
      if (location.hash === "#adelaidesucks") {
          showDiv('adelaidesucks');
        
      } else {
          showDiv('writing');
      }
    }


    // when menu option changes, change hash + page 
    function showDiv(elem) {

        if (elem.value === 'writing' || elem === 'writing') {
              writing.style.visibility = 'visible';
              writing.style.display = 'flex';
   
              adelaidesucks.style.visibility = 'hidden';
              adelaidesucks.style.display = 'none';
              history.pushState("", document.title, window.location.pathname
                                                       + window.location.search);

            var opts = writingMenu.options.length;

              for (var i=0; i<opts; i++){
                  if (writingMenu.options[i].value === 'writing'){
                      writingMenu.options[i].selected = true;
                      break;
                  }
              }

            } else if (elem.value === 'adelaidesucks' || elem === 'adelaidesucks') {

              writing.style.visibility = 'hidden';
              writing.style.display = 'none';
              
              adelaidesucks.style.visibility = 'visible';
              adelaidesucks.style.display = 'flex';
              
              // hash value on url
              location.hash = "adelaidesucks";

            var opts = writingMenu.options.length;

              for (var i=0; i<opts; i++){
                  if (writingMenu.options[i].value === 'adelaidesucks'){
                      writingMenu.options[i].selected = true;
                      break;
                  }
              }
            } 
     }


  </script>
  
 </body>

