.super-title {
    text-decoration: none;
    color: black;
    margin-top: 30px;
    text-align: center;
    font-size: 10rem;
    font-weight: 300;
}

.super-title-junior {
    margin-top: -1.5rem;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 20px;
}


.aside-article-remove {
    
}


.aside-pp {
    text-align: justify;
}

.aside-p {
    margin-top: 25px;
}

.nav {
    display: flex;
    align-items: center;
    height: 7rem;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    border-bottom: black solid 0.05rem;
    border-top: black solid 0.05rem;
}

.social {
    text-align: center;
    padding: 1rem;
}

.social2 {
    text-align: center;
    padding: 1rem;
}

.social-container {
    text-align: center;
    margin-bottom: 3rem;    
}

.fixed-aside {
    position: relative;
    left: 9%;
}


@media (max-width: 900px) {
    .fixed-aside {
        position: relative;
        left: 0%;
    }
}


@media (min-width: 1200px) {
    .fixed-aside {
    position: fixed;
    top: 12%;
    padding: 6px;
    transform: translateX(-34.333333%);
    left: 76%;
    }
   
    .actual-aside {
        margin-top: -1rem;
    }
  
}

.main-image {        
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.actual-aside {
    margin-top: 3rem;
}



.social-container2 {    
   flex-direction: row;  
   justify-content: center;
   align-items: center;
   display: flex;
   padding-left: 1rem;
}

.social-last {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

/* blog layout */
.content {
    font-size: 2.2rem;
     padding-bottom: 4rem;
     font-family: 'Open Sans', sans-serif;
     max-width: 700px;
     
}

.content p {
    padding-bottom: 3rem;
}

.social-container-article {
    display: none
}

@media (max-width: 900px) {

.social-container-article {
    display: inline-block;
    }
}

.social-individual {
    padding: 1rem 1rem 0 1rem;
    margin-right: 10px;
}

@media (max-width: 1200px) {
   .content {
       font-size: 2rem;
       max-width: 600px;
   } 
   
   


   .homepage-back {
    display: none;
  }
  
  
    .social-container2 { 
    display: block;   
    }
    

.social-container3 {    
   flex-direction: row;  
   justify-content: center;
   align-items: center;
   display: flex;
  }



  .social2 {
     padding: 0;
   }

/*
.main-image-flex {
flex-direction: row;  
   justify-content: center;
   align-items: center;
   display: flex;
   padding-left: 1rem;
}
*/
}



.blog-twitter-link {
    font-size: 3rem;
}
.custom-blog-container {
    margin-top: 3rem;   
}


.homepage-back {
    position: fixed;
    left: 2%;
    top: 5%;
}

/* ABOUT & ASPIRATIONS */

.about-title {
    margin-top: 5rem;
    margin-bottom: 4.5rem;
    text-align: center;
    font-size: 10rem;
}



@media (min-width: 400px) {


.about-title {
  font-size: 7rem;
    }
}

.about-container p {
    font-size: 2.5rem;
}

.about-container h2 {
    margin-top: 5rem;
}

.about-text1 {
    font-size: 2.1rem;
    line-height: 3.75rem; 
    margin-bottom: 2rem;
}

ul {
    padding-left: 4rem;
}

.img-aspirations {
    text-align: center;
    width: 80%;
}

li {
    text-indent: -4.2rem;
    padding-left: 1rem;
    line-height: 3.75rem; 
}

.why {
    text-decoration: underline;
}


/* Article */

.article-full {
   margin-top: 30px; 
}

/* Footer */

.footer {
   margin-top: 40px;  
}


/* About */

.seven p {
    font-size: 2rem;
}