{{ partial "head.html" . }}
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/custom.css">  

{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <article class="container about-container">
    <h1 class="about-title">Let's talk about <span class="why">why</span> you're here.</h1>
		<p> 
			This website aims to discuss the things that make us horrible, so we can become excellent, loving people. It aims to provide you with an intuitive understanding of your life: An enormous privilege many of us failed to develop.
		</p>
		<p>
			Why intuitive? 
		</p>
		<p>	
		Because no matter how much you drill it into yourself, nothing will change unless if you have an intuitive understanding of why your life is the way it is. In other words, we have been living unintuitively all along. 
		</p>

		<p>	
		The reason for our unintuitive nature is in part due to our being unaware of the harm and destruction we create on a daily basis. While we all claim to be sane and rational individuals, the statistics simply don't lie:
		</p>

		<ul class="url" type="square">
			<li class="about-text1">
				Less than 2% of traders are profitable net of all fees. 40% of day traders quit within a month, 87% of traders quit within 3 years and 93% of traders quit within 5 years.<sup><a href="#fn1" id="ref1">1</a></sup>
			</li>
			<li class="about-text1">
				More than two-thirds - 68.8% - of adults are considered to be overweight or obese. More than one-third - 35.7% - of adults are considered to be obese.<sup><a href="#fn2" id="ref2">2</a></sup>
			</li>
			<li class="about-text1">
				In my country Australia nearly half - 45% - of the population will experience a mental disorder at some stage in their lives, with an estimated one in five people experiencing mental illness over a 12-month period.<sup><a href="#fn3" id="ref3">3</a></sup>
			</li>
		</ul>

		<p>
			This list doesn't even cover drug, pornography, gambling and alcohol addiction, the high levels of marital divorce, broken families, physical and sexual abuse, let alone the countless other problems our society produces. </p>

		<p>Of course, it doesn't have to be like this. <br />
		</p>

		<p>
			With an intuitive understanding of our problems, we can learn to create simple and effective solutions. We can become the people we've always wanted to be.
		</p>

		<p>
			I've managed to do it, so you can too.
		</p>

		<sup id="fn1">1. [Text of footnote 1]<a href="https://faculty.haas.berkeley.edu/odean/papers/Day%20Traders/Day%20Trading%20and%20Learning%20110217.pdf" title="Jump back to footnote 1 in the text.">↩</a></sup>

		<sup id="fn2">2. [Text of footnote 2]<a href="https://www.niddk.nih.gov/health-information/health-statistics/Pages/overweight-obesity-statistics.aspx </p>
		" title="Jump back to footnote 2 in the text.">↩</a></sup>

		<sup id="fn3">3. [Text of footnote 3]<a href="https://www.sane.org/mental-health-and-illness/facts-and-guides/facts-figures" title="Jump back to footnote 3 in the text.">↩</a></sup>
</article>

</body>

{{ partial "footer.html" . }}
