{{ partial "head.html" . }}
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link rel="stylesheet" href="../css/custom.css">  

{{ partial "header.html" . }}
{{ partial "social.html" .}}
{{ partial "nav.html" .}}
<body>
  <article class="container about-container">
    <h1 class="about-title">Let's talk about my writing.</h1>
	
<div class="column one-third">
	<img src="/img/main/writing.jpg" alt="Writer">
	
</div>	


<div class="columns seven">

<p>
	As you may tell from this website, I am a writer. 
</p>

<p>
	Despite my ambitions of becoming a freelance developer and designer, writing is the talent I resemble with most. 
	</p>
	<p>		
	I love writing in my lovely cursive handwriting, with my various typewriters and obviously, on my keyboard. I use a colemak layout, just because. My main writing idol is William S. Burroughs and is reflected my creative writing. It probrably has something to do with the tremendous amount of LSD I took in my youth. 
</p>

<p> 
	
</p>



</div>
</article>

</body>

{{ partial "footer.html" . }}
